.main {
  display: inline-block;
  width: calc(100% - 300px);
  height: 100%;
  position: absolute;
  left: 300px;
  top: 0px;
  background-image: url("images/Vecteezy-16-5160-0-pinker-darker.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  overflow-y: auto;
  overflow-x: hidden !important;
}

h2 {
  font-size: 80px;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 100;
  position: relative;
  top: 20px
}

.about h2 {
  margin-bottom: 30px
}

.contact h2 {
  top: 0px
}

.subtext {
  font-size: 22px !important;
  font-weight: 300
}

.cont {
  position: absolute;
  color: white;
  font-size: 34px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 55px;
  transition: .8s;
  transform: scale(.10);
  opacity: 0;
}

.home {
  margin: 150px;
}

.about {
  margin: 0px 150px 0px 150px;
}

.portfolio {
  width: 100%;
  margin-bottom: 155px
}

.portfolio a {
  color: white
}

.portfolio a:hover{
  text-decoration: none;
}

.contact {
  position: relative;
  margin-top: 50px;
  width: 60%;
  display: block;
}

/* form stuff */
input {
  width: 49% !important;
  display: inline-block !important;
  margin: 0px 0px 10px 0px !important;
}

#submitbtn {
  float: left;
  opacity: .6 !important;
  background-color: #222629 !important;
  border: none
}

#name {
  float: left
}

#email {
  float: right
}

textarea {
  width: 100% !important;
  display: inline-block !important;
  margin-top: 8px;
}

/* the button to advance to next area */
#next {
  position: sticky;
  display: block !important;
  width: 105px;
  height: 105px;
  opacity: .3;
  top: calc(100% - 200px);
  z-index: 3; 
  margin: auto !important 
}

/* The side navigation menu */
.sidebar {
  /* display: inline-block; */
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: #222629;
  position: fixed;
  height: 100%;
  overflow: hidden;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 1
}

/* Sidebar links */
.n-link {
  display: block;
  color: #7d857f;
  padding: 20px;
  text-decoration: none;
  text-align: right;
}

/* Active/current link */
.active {
  background-color: #1c2022;
  color: white;
}

.active:hover {
  text-decoration: none;
  color: white;
}

.active img{
  -webkit-filter: invert(100%) brightness(50%) sepia(100%) saturate(1000%)  hue-rotate(295deg);
}

/* Links on mouse-over */
.n-link:hover:not(.active) {
  background-color: rgb(73, 73, 73);
  color: white;
  text-decoration: none
}

#side-head {
  position: relative;
  top: 60px
}

#nav-links{
  position: relative;
  top: 20px;
}

.nav-icon{
  height: 40px;
  width: 40px;
}

.left {
  width: 130px;
  text-align: left;
  margin: 0;
  display: inline-block
}
.right {
  width: 125px;
  margin: 0;
  display: inline-block
}

.ind-icon{
  height: 40px;
  width: 40px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  transition: .6s;
}

.ind-icon:hover{
  -webkit-filter: invert(75%)
}

#industry-icons{
  text-align: center;
  margin-top: 80px;
}


#attribution{
  font-size: 12px;
  position: fixed;
  bottom: 0px;
  color: grey;
  text-align: left;
  margin-left: 80px
}

#attribution a{
  color: rgb(99, 99, 99)
}

#wrapper{
  text-align: center
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

.card.img {
  height: 235px;
  width: 400px;
}

.card-text {
  font-size: 20px;
  color: white;
}

.card {
  background-color: rgba(255, 255, 255, 0.103) !important;
}

/* On screens that are less than 992px wide */
@media screen and (max-width: 992px) {

  .main {
    display: inline-block;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
  }

  .cont {
    margin: 20px 25px 55px 25px;
  }

  .portfolio {
    margin: 0px 0px 55px 0px !important;
  }

  .about h2 {
    margin-bottom: 20px;
  }

  .contact h2 {
    top: 0px !important
  }

  .contact {
    width: 90%;
    margin: auto;
    margin-top: 100px
  }

  h2 {
    font-size: 44px;
  }

  #next {
    top: calc(100% - 100px);
    transform: scale(.5)
  }

  .icon {
    background-color:rgba(255, 255, 255, 0.5);
    padding: 5px;
    border-radius: 5px;
  }

  .icon.active {
    color: white
  }

  .icon:hover {
    color: white
  }

  .icon {
    position: fixed;
    top: 30px;
    left: 30px;
    display: block !important;
    opacity: 1.0 !important;
    color: white;
    z-index: 3;
    transform: scale(1.8,1.8);
    transition: 0.5s;
  }

  .sidebar {
    transform: translateX(-300px);
  }

  .card {
    width: 90% !important;
  }

}


#headshot {
  height: 70px;
  width: 70px;
  margin: 30px 0px 50px 20px;
  display: inline-block;
}

#minibio {
  color: white;
  display: inline-block;
  text-align: right;
  margin-left: 55px;
  position: relative;
  top: 5px;
}

#job-title {
  font-size: 20px;
}

.icon {
  display: none;
}

.container-fluid {
  background-color: grey;
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}